body {
  background-color: grey;
  font-family: 'Roboto Mono', monospace;
  font-size: 10pt;
}

div {
  background-color: white;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.hunt {
  font-size: 30pt;
}